__pycache__/
data/**/*
!data/**/.gitkeep

le-wm/
models/
# training artifacts
runs/

# python
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/
wandb/
runs/
wandb/
le-wm/
.DS_Store
.env
.vscode/
